/*
    * @author : Supun Jayasinghe
    * Date    : 11 March 2023
    * Time    : 10:08 AM
    * Project : MyProfile
    * Created by IntelliJ IDEA.
*/
/*long->Page -------------------------------------------------------------------------------------------------*/
/*short->inner page------------------------------------------------*/

*{
    font-family: 'Poppins',sans-serif;
}
body{
    background: black;
    color: white;
    margin: 0;
    position: relative;
}


/*header content----------------------------------------------*/
body header{
    width: 100%;
    height: 100vh;
    background-image:url("../image/homepageBackground.png") ;
    background-size: cover;
    background-position: center;
}
header>nav>img{
    width: 250px;
    margin-top: 15px;
    margin-left: 50px;

}
header>nav {
    display: flex;
    justify-content: space-between;
}
header>nav>ul{
    margin: 0;
    padding-right: 80px;
    padding-top: 23px;
}
header>nav>ul>li{
    display: inline-block;
    margin: 20px 30px;
}
header>nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
header>nav>ul>li>a::after{
   content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
header>nav>ul>li>a:hover::after{
    width: 100%;
}


/*home page content----------------------------------------------*/
.emphasizeText{
    font-style: normal;
}
.homeTextRed{
    color: red;
}

header>section>h3{
    font-weight: normal;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 0;
    font-size: 40px;
}
header>section>h1{
    font-size: 60px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 0;
}


/*navigation Icons----------------------------------------------*/
.navigateIcon{
    width: 100px;
    border-radius: 20px;
    transition: background 0.4s,transform 0.4s;
}
.navigateIcon:hover{
    background: #FF3773;
    transform:  translate3d(0px,0px,50px);

}
header>section>nav{
    padding: 0;
    margin-left: 100px;
    margin-top: 100px;
}
header>section>nav>ul{
    margin: 0;
    padding: 0;
}
header>section>nav>ul>li{
    display: inline-block;
    margin: 0 30px;
}

/*about me page--------------------------------------------------------------------------------------------*/
#aboutMePage{
    width: 100%;
    height: 100vh;
    background-position: center;
}

/*about me page upper section----------------------------------------------*/
#aboutMePageUp{
    display: flex;
    justify-content: space-between;
    height: 40vh;
}
#aboutMePage>p{
    font-size: 50px;
    margin: 0;
    padding-left: 50px;
}
#aboutMePage>p>span{
    color: red;
    font-size: 60px;
}
#aboutMePageUp>img{
    width: 250px;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 20px;
}
#aboutMePageUp>article{
    margin: 2px 40px;
}
#aboutMePageUp>article>p>abbr{
    font-style: normal;
}
#aboutMePageUp>article>p>span{
    color: red;
}
#aboutMePage>section>article>p{
    font-size: 25px;
}
#upLastPara{
   margin-bottom: 7px;
}

#aboutMePageUp>article>div{
    width: 280px;
    height: 50px;
    background: red;
    border-radius: 13px;
    margin-left: 350px;
}
#aboutMePageUp>article>div>a{

    font-size: 30px;
    text-decoration: none;
    color: white;
    position: absolute;
    padding: 8px 45px;
}

#aboutMePage>div{
    width: 90%;
    height: 5px;
    background: white;
    margin-left: 5%;
    margin-top: 10px;
}

/*about me page down section----------------------------------------------*/
#aboutMePageDown{
    display: flex;
    justify-content: space-between;
    margin: 10px 70px;
}

#aboutMePageDown>nav>div{
    display: block;
    margin: 50px 30px;
}

#aboutMePageDown>nav>div{
    width: 200px;
    height: 50px;
    background: red;
    border-radius: 13px;

}
#aboutMePageDown>nav>div>p{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#btn1>p{
    position: absolute;
    margin: 0;
    padding: 8px 70px;
}
#btn2>p{
    position: absolute;
    margin: 0;
    padding: 8px 33px;
}
#btn3>p{
    position: absolute;
    margin: 0 ;
    padding: 8px  20px;
}
#aboutMePageDown>div {
    width: 80%;
    height: 46vh;
    background: #242323;
    border-radius: 20px;
}
.paneAboutMe{
    display: none;
}
.paneAboutMe.active-tab{
    display: block;
}

/*skill pane----------------------------------------------*/
#skillPane>div{
    width: 100%;
    height: 46vh;
    background:#242323 ;
    border-radius: 20px;
    display: flex;
}
.vlsPane{
    width: 49.8%;
    height: 100%;
}
#hr{
    width: 0.4%;
    height: 100%;
    background: white;
}
#skillPane>div>div>div:first-child{
    width: 100%;
    height: 35% ;
}
#skillPane>div>div>div:nth-child(2){
    width: 100%;
    height: 1.3% ;
    background: white;
}
#skillPane>div>div>div:last-child{
    width: 100%;
    height: 63.7% ;
}

#skillPane>div>div>div:first-child>p:first-child{
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    color: red;
}
#skillPane>div>div>div:first-child>p:last-child{
    margin: 0;
    padding: 10px 25px;
    font-size: 25px;

 }
#skillPane>div>div>div:last-child>p:first-child{
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    color: red;
}

#webDLP{
    margin: 0;
    padding: 10px 25px;
    font-size: 25px;

}
#skillPane>div>div>div:last-child>div{
    display: flex;
    margin-left: 30px;

}
#skillPane>div>div>div:last-child>div>div{

    display: block;
}
#skillPane>div>div>div:last-child>div>img{
    width: 80px;
    margin: 10px 20px;
}
#skillPane>div>div:last-child>p:first-child{
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    color: red;
}
#skillLastPane{
    margin: 0;
    padding: 10px 25px;
    font-size: 25px;
}
#skillPane>div>div:last-child>div{
    display: flex;
    margin-left: 40px;


}
#skillPane>div>div:last-child>div>img{
    width: 80px;
    height: 80px;
    padding: 20px 10px;

}

/*education pane----------------------------------------------*/
#educationPane>div{
    width: 100%;
    height: 46vh;
    background: #242323;
    border-radius: 20px;
    display: flex;

}

#educationPane>div>div:first-child{
    width: 49.8%;
    height: 100%;

}
#educationPane>div>div:last-child{
    width: 49.8%;
    height: 100%;

}
#eduPaneMidelBrake{
    width: 0.4%;
    height: 30%;
    background: white;
    margin-top: 170px;

}
#educationPane>div>div:first-child>div:first-child>p:first-child{
    margin: 0;
    padding-left: 100px;
    padding-top: 160px;
    font-size: 30px;
    color: red;
}
#educationPane>div>div:first-child>div:first-child>p:last-child{
    margin: 0;
    padding: 10px 25px;
    font-size: 25px;
}
#educationPane>div>div:first-child>div:first-child>p>span{
    color: red;
}
#educationPane>div>div:first-child>div:last-child{
    width:100%;
    height: 1%;
    background: white;
}
#educationPane>div>div:last-child>div:first-child>p:first-child{
    margin: 0;
    padding-left: 100px;
    padding-top: 25px;
    font-size: 30px;
    color: red;
}
#educationPane>div>div:last-child>div:first-child>p:last-child{
    margin: 0;
    padding: 10px 25px;
    font-size: 25px;
}
#educationPane>div>div:last-child>div:first-child>p>span{
    color: red;
}
#educationPane>div>div:last-child>div:nth-child(2){
    width: 100%;
    height: 1%;
    background: white;
}
#educationPane>div>div:last-child>div:last-child>img{
    margin-top: 10px;
    margin-left: 100px;
}
#ijseM1{
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 5px;
    font-size: 25px;
}
#ijseM2{
    margin-top: 0;
    margin-left: 170px;
    font-size: 25px;
}

/*experience pane----------------------------------------------*/
#experiencesPane>div{
    width: 100%;
    height: 46vh;
    background: #242323;
    border-radius: 20px;
}
.redText{
    color: red;
}
.experiencesPaneHrBr{
    width: 90%;
    height: 1%;
    background: white;
}
.expHedP{
    margin: 0;
    padding-left: 100px;
    padding-top: 20px;
    font-size: 30px;
}
.expDetP{
    margin: 0;
    padding: 10px 25px;
    font-size: 25px;
}

/* service page ------------------------------------------------------------------------------------------------*/
#servicePage{
    width: 100%;
    height: 100vh;
    background-position: center;
}
#servicePage>div{
    width: 100%;
    height: 20%;
    position: relative;
}
#serPgP1{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0;
}
#serPgP2{
    font-size: 50px;
    margin-top: 0;
    margin-left: 30px;
    color: red;
}
#servicePage>article{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}
#servicePage>article>div{
    width: 28%;
    height: 90%;
    background: #242323;
    border-radius: 20px;
    transition: background 0.4s,transform 0.4s;

}
#servicePage>article>div:first-child{
    margin-left: 50px;
}
#servicePage>article>div:last-child{
    margin-right: 50px;
}
#servicePage>article>div>div{
    width: 40%;
    height: 50px;
    background: red;
    border-radius: 10px;
    font-size: 30px;
}
#servicePage>article>div>div>p{
    padding:7px 50px;
}

/*web design-----------------------------------------------*/
#servicePage>article>div:first-child>img{
    margin-top: 30px;
    margin-left: 160px;
}
#webP1{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 100px;
}
#webP2{
    font-size: 25px;
    margin: 50px 30px;
}
#servicePage>article>div:first-child>div{
    margin-top: 80px;
    margin-left: 120px;
}


/*ui-ux design-----------------------------------------------*/
#servicePage>article>div:nth-child(2)>img{
    margin-top: 30px;
    margin-left: 160px;
}
#uiP1{
    font-size: 40px;
    margin-top: 10px;
    margin-left: 90px;
}
#uiP2{
    font-size: 25px;
    margin: 50px 30px;
}
#servicePage>article>div:nth-child(2)>div>p{
    padding:7px 50px;
}
#servicePage>article>div:nth-child(2)>div{
    margin-top: 110px;
    margin-left: 120px;
}

/*app design-----------------------------------------------*/
#servicePage>article>div:last-child>img:first-child{
    margin-top: 30px;
    margin-left: 120px;
}
#addP1{
    font-size: 40px;
    margin-top: 4px;
    margin-left: 90px;
}
#addP2{
    font-size: 25px;
    margin: 50px 30px;
}
#servicePage>article>div:last-child>div>p{
    padding:7px 50px;
}
#servicePage>article>div:last-child>div{
    margin-top: 60px;
    margin-left: 120px;
}

/*adding effect---------------------*/
#servicePage>article>div:hover{
    background: #fa3943;
    /*background: #FF3773;*/
    transform: translateY(-20px);

}

/*portfolio page-------------------------------------------------------------------------------------------------*/
#portfolioPage{
    width: 100%;
    height: 100vh;
    background-position: center;
}
#portP1{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0;
}
#portP2{
    font-size: 50px;
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 0;
    color: red;
}
#portfolioPage>div{
    display: flex;
}
#portfolioPage>div>nav>div{
    width: 200px;
    height: 70px;
    background: red;
    border-radius: 13px;
    display: block;
    margin: 110px 30px;


}
#portfolioPage>div>nav>div>a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    position: absolute;
}
#portfolioPage>div>nav>div:first-child>a{
    padding: 17px 40px;
}
#portfolioPage>div>nav>div:last-child>a{
    padding: 17px 20px;
}

/*project showing pane-------------------------------------------*/
#portfolioPage>div>section{
    width: 81%;
    height: 83vh;
    background: #242323;
    border-radius: 30px;
}

/*contact page-------------------------------------------------------------------------------------------------------------------------*/
#contactPage{
    width: 100%;
    height: 100vh;
    background-position: center;
}
#contactPage>p{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0;
}
#contactPage>section{
    display: flex;
}
#contactPage>section>section:first-child{
    width: 39.6%;
    height: 87vh;
}
#contactPageMiddleBrake{
    width: 0.4%;
    height: 80vh;
    background: white;
}
#contactPage>section>section:last-child{
    width: 60%;
    height: 87vh;
}

/*contact page left side----------------------------------------------*/
#contactPage>section>section:first-child>p{
    font-size: 50px;
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 0;
    color: red;
}
.contactIcon{
    width: 70px;
    height: 70px;
}
.contactLink{
    display: flex;
    margin:50px 80px;
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.contactLink>p{
    margin-left: 40px;
}
#contactPage>section>section:first-child>nav>ul>li>a>img{
    width: 70px;
}
#contactPage>section>section:first-child>nav {
    display: flex;
    justify-content: space-between;
    margin-left:20px ;
}
#contactPage>section>section:first-child>nav>ul>li{
    display: inline-block;
    margin: 20px 10px;
}
#contactPage>section>section:first-child>nav>ul{
    margin-top: 0;
    margin-bottom: 30px;
}
#contactPage>section>section:first-child>nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
#dowBtn{
    width: 280px;
    height: 60px;
    background: red;
    border-radius: 13px;
    margin-left: 150px;
}
#dowBtn>a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    position: absolute;
    padding: 12px 50px;
}

/*contact page right side----------------------------------------------*/
#contactPage>section>section:last-child>p{
    font-size: 25px;
    margin-left: 80px;
    margin-top: 0;
}
#contactPage>section>section:last-child>form{
    margin-left: 40px;
}
#contactPage>section>section:last-child>form>input{
    display: block;
    margin-left: 40px;
    margin-bottom: 40px;;
    font-size: 25px;
    border-radius: 7px;
    width: 700px;
    padding:15px 10px;
}
#massage{
    display: block;
    margin-left: 40px;
    margin-bottom: 40px;;
    font-size: 25px;
    border-radius: 7px;
    width: 700px;
    padding:15px 10px;
}
.inputL{
    height: 200px;
}
#contactPage>section>section:last-child>form>button{
    width: 280px;
    height: 63px;
    background: red;
    border-radius: 13px;
    margin-left: 190px;
    margin-top: 5px;
    font-size: 28px;
    color: white;
}

/*footer content--------------------------------------------------------------------------------------------------------------------*/
#footer{
    background: #242323;
    width: 100%;
    height: 7vh;
}
#footer>div>p{
    margin-top: 0;
    padding-top: 5px;
    padding-left: 580px;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-size: 13px;

}

/*------------------------------------------------------------------------------------------------------------------*/




