/*
    * @author : Supun Jaysinghe
    * Date    : 11 March 2023
    * Time    : 10:08 AM
    * Project : MyProfile
    * Created by IntelliJ IDEA.
*/
*{
    font-family: 'Poppins',sans-serif;
}
body{
    background: black;
    color: white;
    margin: 0;
    position: relative;
}


/*header content */
body header{
    width: 100%;
    height: 100vh;
    background-image:url("asset/image/homepageBackground.png") ;
    background-size: cover;
    background-position: center;
}
header>nav>img{
    width: 250px;
    margin-top: 15px;
    margin-left: 50px;
}
header>nav {
    display: flex;
    justify-content: space-between;
}
header>nav>ul{
    margin: 0;
    padding-right: 80px;
    padding-top: 23px;
}
header>nav>ul>li{
    display: inline-block;
    margin: 20px 30px;
}
header>nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
header>nav>ul>li>a::after{
   content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
header>nav>ul>li>a:hover::after{
    width: 100%;
}


/*home page content*/
.emphasizeText{
    font-style: normal;
}
.homeTextRed{
    color: red;
}

header>section>h3{
    font-weight: normal;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 0;
    font-size: 40px;
}
header>section>h1{
    font-size: 60px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 0;
}


/*navigation Icons*/
.navigateIcon{
    width: 100px;
}
header>section>nav{
    padding: 0;
    margin-left: 100px;
    margin-top: 100px;
}
header>section>nav>ul{
    margin: 0;
    padding: 0;
}
header>section>nav>ul>li{
    display: inline-block;
    margin: 0 30px;
}

/*about me page*/
#aboutMePage{
    width: 100%;
    height: 100vh;
    background-position: center;
}

/*about me page upper section*/
#aboutMePageUp{
    display: flex;
    justify-content: space-between;
    height: 40vh;
}
#aboutMePage>p{
    font-size: 50px;
    margin: 0;
    padding-left: 50px;
}
#aboutMePage>p>span{
    color: red;
    font-size: 60px;
}
#aboutMePageUp>img{
    width: 250px;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 20px;
}
#aboutMePageUp>article{
    margin: 2px 40px;
}
#aboutMePageUp>article>p>abbr{
    font-style: normal;
}
#aboutMePageUp>article>p>span{
    color: red;
}
#aboutMePage>section>article>p{
    font-size: 25px;
}
#upLastPara{
   margin-bottom: 7px;
}

#aboutMePageUp>article>div{
    width: 280px;
    height: 50px;
    background: red;
    border-radius: 13px;
    margin-left: 350px;
}
#aboutMePageUp>article>div>a{

    font-size: 30px;
    text-decoration: none;
    color: white;
    position: absolute;
    padding: 8px 45px;
}

#aboutMePage>div{
    width: 90%;
    height: 5px;
    background: white;
    margin-left: 5%;
    margin-top: 10px;
}

/*about me page down section*/
#aboutMePageDown{
    display: flex;
    justify-content: space-between;
    margin: 10px 70px;
}

#aboutMePageDown>nav>div{
    display: block;
    margin: 50px 30px;
}

#aboutMePageDown>nav>div{
    width: 200px;
    height: 50px;
    background: red;
    border-radius: 13px;

}
#aboutMePageDown>nav>div>a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
#btn1>a{
    position: absolute;
    padding: 8px 65px;
}
#btn2>a{
    position: absolute;
    padding: 8px 33px;
}
#btn3>a{
    position: absolute;
    padding: 8px  20px;
}
#aboutMePageDown>div{
    width: 80%;
    height: 46vh;
    background:#242323 ;
    border-radius: 20px;
}
#skillPane{
    width: 100%;
    height: 46vh;
    background:#242323 ;
    border-radius: 20px;
    display: flex;


}
#educationPane{
    width: 100%;
    height: 46vh;
    background: white;
    border-radius: 20px;

}
#experiensPane{
    width: 100%;
    height: 46vh;
    background: gray;
    border-radius: 20px;

}
.vlsPane{
    width: 49.8%;
    height: 100%;
}
#hr{
    width: 0.4%;
    height: 100%;
    background: white;
}
#skillPane>div>div:first-child{
    width: 100%;
    height: 35% ;
}
#skillPane>div>div:nth-child(2){
    width: 100%;
    height: 1.3% ;
    background: white;
}
#skillPane>div>div:last-child{
    width: 100%;
    height: 63.7% ;
}

#skillPane>div>div:first-child>p:first-child{
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    color: red;
}
#skillPane>div>div:first-child>p:last-child{
    margin: 0;
    padding: 10px 25px;
    font-size: 25px;

 }
#skillPane>div>div:last-child>p:first-child{
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    color: red;
}

#webDLP{
    margin: 0;
    padding: 10px 25px;
    font-size: 25px;

}
#skillPane>div>div:last-child>div{
    display: flex;
    margin-left: 30px;

}
#skillPane>div>div:last-child>div>div{

    display: block;
}
#skillPane>div>div:last-child>div>img{
    width: 80px;
    margin: 10px 20px;
}
#skillPane>div:last-child>p:first-child{
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    color: red;
}
#skillLastPane{
    margin: 0;
    padding: 10px 25px;
    font-size: 25px;
}
#skillPane>div:last-child>div{
    display: flex;
    margin-left: 40px;


}
#skillPane>div:last-child>div>img{
    width: 80px;
    height: 80px;
    padding: 20px 10px;

}