/*
 * @author : @MJ
 * Date    : 6/18/2023
 * Time    : 9:37 PM
 * Project : MyProfile
 * Created by IntelliJ IDEA.
 */
.paneAboutMe{
    display: none;
}
.paneAboutMe.active-tab{
    display: block;
}
#about_me_page {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: white;
}
/*------------------------title---------------------------*/
#about_me_page > section:first-child {
    width: 98%;
    height: 8%;
    /*background-color: aliceblue;*/
    display: flex;
    align-items: center
}
#about_me_page > section:first-child > p {
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5em;
}
#about_me_page > section:first-child > p > span {
    font-size: 1.5em;
    align-self: center;
    color: crimson;
}

    /*------------------------upper section---------------------------*/

#aboutMePageUp {
    width: 95%;
    height: 43%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*----------------------------*/
#aboutMePageUp > img {
    width: 17%;
    height: 100%;
    border-radius: 1em;
}
/*-----------------------------*/
#aboutMePageUp > article {
    width: 82%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#aboutMePageUp > article > div:first-child {
    width: 95%;
    height: 75%;

}
#aboutMePageUp > article > div:first-child > p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
}
#aboutMePageUp > article > div:first-child > p > span {
    color: red;
}
#aboutMePageUp > article > div:nth-child(2) {
    width: 20%;
    height: 17%;
    background-color: red;
    border-radius: 1em;
    box-shadow: 5px 6px 8px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#aboutMePageUp > article > div:nth-child(2) > a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 2em;

}

/*------------------------middle brake ---------------------------*/

#middle_brake {
    width: 90%;
    height: 0.5%;
    background-color: white;
}

/*------------------------down section---------------------------*/

#aboutMePageDown {
    width: 95%;
    height: 43%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#aboutMePageDown > nav {
    width: 18%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#aboutMePageDown > nav > div {
    width: 80%;
    height: 20%;
    background-color: crimson;

    border-radius: 1em;
    box-shadow: 5px 6px 8px 1px black;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}
#aboutMePageDown > nav > div > p {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 2em;
}

/*---------------------------------------------*/

#aboutMePageDown > article {
    width: 80%;
    height: 100%;
    background-color: #242323;
    border-radius: 1.5em;
}

#aboutMePageDown > article > div {
    width: 100%;
    height: 100%;
    border-radius: 1.5em;
}


/*-------------script----------------------------------*/


