/*
 * @author : @MJ
 * Date    : 6/21/2023
 * Time    : 5:48 PM
 * Project : MyProfile
 * Created by IntelliJ IDEA.
 */
#project_page {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;
}

/*------------------------title---------------------------*/

#project_page > section:first-child {
    width: 98%;
    height: 8%;
    /*background-color: aliceblue;*/
    display: flex;
    align-items: center
}

#project_page > section:first-child > p {
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5em;
}
#project_page > section:first-child > p > span {
    font-size: 1.5em;
    align-self: center;
    color: crimson;
}

/*------------------------main content---------------------------*/
#project_page > section:nth-child(2) {
    width: 100%;
    height: 92%;
    /*background-color: white;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*------------------------main content button---------------------------*/
#project_page > section:nth-child(2) > nav {
    width: 20%;
    height: 50%;
    /*background-color: #242323;*/

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#project_page > section:nth-child(2) > nav > div {
    width: 100%;
    height: 22%;
    background-color: crimson;
    border-radius: 0.8em;
    box-shadow: 5px 6px 8px 1px black;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
#project_page > section:nth-child(2) > nav > div > p {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 2.3em;
}

/*------------------------main content pane---------------------------*/

#projectPane {
    width: 70%;
    height: 90%;
    background-color: #242323;
    border-radius: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#divPane {
    width: 92%;
    height: 90%;
    overflow: scroll;

}
#divPane > div {
    width:320%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.projectDiv {
    width: 24%;
    height: 98%;
    border-radius: 1em;
}
.projectDiv > a {
    width: 100%;
    height: 100%;


}
#divPane > div > div > a > img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    cursor: pointer;
}
/*#divPane > div > div:first-child > a {*/
/*    background-image: url("/asset/image/asi03.png");*/
/*}*/
/*#divPane > div > div:nth-child(2) {*/
/*    background-image: url("/asset/image/asi04.png");*/
/*}*/
/*#divPane > div > div:nth-child(3) {*/
/*    background-image: url("/asset/image/asi05.png");*/
/*}*/
/*#divPane > div > div:nth-child(4) {*/
/*    background-image: url("/asset/image/asi06.png");*/
/*}*/



#slidLeft {
    width: 3%;
    height: 5%;
    background-image: url("/asset/icons/icons8-back-arrow-100.png");
    background-size: cover;
    background-position: center;
}
#slidRight {
    width: 3%;
    height: 5%;
    background-image: url("/asset/icons/icons8-back-arrow-100 right.png");
    background-size: cover;
    background-position: center;
}



